{% autoescape off %}
Hello {{ user.get_full_name|default:user.username }},

You're receiving this email because you requested a password reset for your user account at {{ site_name }}.

Please go to the following page and choose a new password:
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'authentication:password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

Your username, in case you've forgotten: {{ user.get_username }}

This link will expire in {{ expiration_days }} days for security reasons.

If you did not request a password reset, please ignore this message.

Thanks for using {{ site_name }}!

Best regards,
The {{ site_name }} Team
{% endautoescape %}